/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ::::: Instruction to Stylish ::::: */

/* It looks like a comment but it's actually an instruction.
 * See https://github.com/JasonBarnabe/stylish/wiki/Overwriting-page-styles
 */

/* AGENT_SHEET */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url(http://www.w3.org/1999/xhtml);

/* ::::: CTR-Defined Primary Toolbarbuttons in General ::::: */

#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #navigator-toolbox > toolbar .toolbarbutton-1[id^="ctraddon_"]:not([type]) .toolbarbutton-icon {
  /* He uses padding suitable for the default theme; we reassert our padding. */
  padding: 0 !important;
}

/* ::::: CTR-Defined Combined Back and Forward Toolbarbuttons ::::: */

#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #ctraddon_back-button  > .toolbarbutton-icon {
  list-style-image: url(chrome://browser/skin/Toolbar-australis-small.png) !important;
  -moz-image-region: rect(0, 48px, 16px, 32px) !important;
  height: 16px !important;
  width: 16px !important;
}

#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #ctraddon_back-button:hover > .toolbarbutton-icon {
  -moz-image-region: rect(16px, 48px, 32px, 32px) !important;
}

#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]):not([customizing]) #ctraddon_back-button[disabled] > .toolbarbutton-icon {
  -moz-image-region: rect(32px, 48px, 48px, 32px) !important;
}

#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #nav-bar[nightlaunch-iconsize="large"] #ctraddon_back-button > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #widget-overflow[nightlaunch-iconsize="large"] #ctraddon_back-button > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]):not([customizing="true"]) #PanelUI-contents #ctraddon_back-button > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #customization-panelHolder #ctraddon_back-button > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #customization-palette #ctraddon_back-button > .toolbarbutton-icon {
  list-style-image: url(chrome://browser/skin/Toolbar-australis.png) !important;
  -moz-image-region: rect(0, 72px, 24px, 48px) !important;
  height: 24px !important;
  width: 24px !important;
}

#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #nav-bar[nightlaunch-iconsize="large"] #ctraddon_back-button:hover > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #widget-overflow[nightlaunch-iconsize="large"] #ctraddon_back-button:hover > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]):not([customizing="true"]) #PanelUI-contents #ctraddon_back-button:hover > .toolbarbutton-icon {
  -moz-image-region: rect(24px, 72px, 48px, 48px) !important;
}

#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #nav-bar[nightlaunch-iconsize="large"] #ctraddon_back-button[disabled] > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #widget-overflow[nightlaunch-iconsize="large"] #ctraddon_back-button[disabled] > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]):not([customizing="true"]) #PanelUI-contents #ctraddon_back-button[disabled] > .toolbarbutton-icon {
  -moz-image-region: rect(48px, 72px, 72px, 48px) !important;
}

#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #ctraddon_forward-button > .toolbarbutton-icon {
  list-style-image: url(chrome://browser/skin/Toolbar-australis-small.png) !important;
  -moz-image-region: rect(0, 64px, 16px, 48px) !important;
  height: 16px !important;
  width: 16px !important;
}

#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #ctraddon_forward-button:hover > .toolbarbutton-icon {
  -moz-image-region: rect(16px, 64px, 32px, 48px) !important;
}

#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]):not([customizing]) #ctraddon_forward-button[disabled] > .toolbarbutton-icon {
  -moz-image-region: rect(32px, 64px, 48px, 48px) !important;
}

#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #nav-bar[nightlaunch-iconsize="large"] #ctraddon_forward-button > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #widget-overflow[nightlaunch-iconsize="large"] #ctraddon_forward-button > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]):not([customizing="true"]) #PanelUI-contents #ctraddon_forward-button > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #customization-panelHolder #ctraddon_forward-button > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #customization-palette #ctraddon_forward-button > .toolbarbutton-icon {
  list-style-image: url(chrome://browser/skin/Toolbar-australis.png) !important;
  -moz-image-region: rect(0, 96px, 24px, 72px) !important;
  height: 24px !important;
  width: 24px !important;
}

#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #nav-bar[nightlaunch-iconsize="large"] #ctraddon_forward-button:hover > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #widget-overflow[nightlaunch-iconsize="large"] #ctraddon_forward-button:hover > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]):not([customizing="true"]) #PanelUI-contents #ctraddon_forward-button:hover > .toolbarbutton-icon {
  -moz-image-region: rect(24px, 96px, 48px, 72px) !important;
}

#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #nav-bar[nightlaunch-iconsize="large"] #ctraddon_forward-button[disabled] > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #widget-overflow[nightlaunch-iconsize="large"] #ctraddon_forward-button[disabled] > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]):not([customizing="true"]) #PanelUI-contents #ctraddon_forward-button[disabled] > .toolbarbutton-icon {
  -moz-image-region: rect(48px, 96px, 72px, 72px) !important;
}

#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #ctraddon_back-button:-moz-locale-dir(rtl) > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #ctraddon_forward-button:-moz-locale-dir(rtl) > .toolbarbutton-icon {
  transform: scaleX(-1) !important;
}

/* On the palette, the actual back and forward toolbarbutton elements are hidden by CTR,
 * and their container is used to show the icons, as background image.
 */
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #customization-palette #ctraddon_back-forward-button {
  background-image: -moz-image-rect(url(chrome://browser/skin/Toolbar-australis.png), 0, 96, 24, 48) !important;
}

/* In the panelUI popup and in the synthetic popup during customization, not having [wrap="true"], unlike most other toolbarbuttons,
 * multiline text is hidden and regular .toolbarbutton-text is shown, causing text to not line up with other toolbarbuttons because
 * regular .toolbarbutton-text is taller.  To fix this, we hide .toolbarbutton-text and reveal .toolbarbutton-multiline-text.
 */

#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #PanelUI-contents #ctraddon_back-button .toolbarbutton-text,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #PanelUI-contents #ctraddon_forward-button .toolbarbutton-text {
  display: none !important;
}

#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #PanelUI-contents #ctraddon_back-button .toolbarbutton-multiline-text,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #PanelUI-contents #ctraddon_forward-button .toolbarbutton-multiline-text {
  display: block !important;
}

/* ::::: CTR-Defined Reload Toolbarbutton ::::: */

#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #ctraddon_reload-button > .toolbarbutton-icon {
  list-style-image: url(chrome://browser/skin/Toolbar-australis-small.png) !important;
  -moz-image-region: rect(0, 80px, 16px, 64px) !important;
  height: 16px !important;
  width: 16px !important;
}

#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #ctraddon_reload-button:hover > .toolbarbutton-icon {
  -moz-image-region: rect(16px, 80px, 32px, 64px) !important;
}

#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]):not([customizing]) #ctraddon_reload-button[disabled] > .toolbarbutton-icon {
  -moz-image-region: rect(32px, 80px, 48px, 64px) !important;
}

#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #nav-bar[nightlaunch-iconsize="large"] #ctraddon_reload-button > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #widget-overflow[nightlaunch-iconsize="large"] #ctraddon_reload-button > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]):not([customizing="true"]) #PanelUI-contents > #ctraddon_reload-button > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #customization-panelHolder #ctraddon_reload-button > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #customization-palette #ctraddon_reload-button > .toolbarbutton-icon {
  list-style-image: url(chrome://browser/skin/Toolbar-australis.png) !important;
  -moz-image-region: rect(0, 120px, 24px, 96px) !important;
  height: 24px !important;
  width: 24px !important;
}
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #nav-bar[nightlaunch-iconsize="large"] #ctraddon_reload-button:hover > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #widget-overflow[nightlaunch-iconsize="large"] #ctraddon_reload-button:hover > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]):not([customizing="true"]) #PanelUI-contents > #ctraddon_reload-button:hover > .toolbarbutton-icon {
  -moz-image-region: rect(24px, 120px, 48px, 96px) !important;
}
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]):not([customizing="true"]) #nav-bar[nightlaunch-iconsize="large"] #ctraddon_reload-button[disabled="true"] > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]):not([customizing="true"]) #widget-overflow[nightlaunch-iconsize="large"] #ctraddon_reload-button[disabled="true"] > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]):not([customizing="true"]) #PanelUI-contents > #ctraddon_reload-button[disabled="true"] > .toolbarbutton-icon {
  -moz-image-region: rect(48px, 120px, 72px, 96px) !important;
}

#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #ctraddon_reload-button:-moz-locale-dir(rtl) > .toolbarbutton-icon {
  transform: scaleX(-1) !important;
}

/* ::::: CTR-Defined Stop Toolbarbutton ::::: */

#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #ctraddon_stop-button > .toolbarbutton-icon {
  list-style-image: url(chrome://browser/skin/Toolbar-australis-small.png) !important;
  -moz-image-region: rect(0, 96px, 16px, 80px) !important;
  height: 16px !important;
  width: 16px !important;
}

#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #ctraddon_stop-button:hover > .toolbarbutton-icon {
  -moz-image-region: rect(16px, 96px, 32px, 80px) !important;
}

#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]):not([customizing]) #ctraddon_stop-button[disabled] > .toolbarbutton-icon {
  -moz-image-region: rect(32px, 96px, 48px, 80px) !important;
}

#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #nav-bar[nightlaunch-iconsize="large"] #ctraddon_stop-button > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #widget-overflow[nightlaunch-iconsize="large"] #ctraddon_stop-button > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]):not([customizing="true"]) #PanelUI-contents > #ctraddon_stop-button > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #customization-panelHolder #ctraddon_stop-button > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #customization-palette #ctraddon_stop-button > .toolbarbutton-icon {
  list-style-image: url(chrome://browser/skin/Toolbar-australis.png) !important;
  -moz-image-region: rect(0, 144px, 24px, 120px) !important;
  height: 24px !important;
  width: 24px !important;
}
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #nav-bar[nightlaunch-iconsize="large"] #ctraddon_stop-button:hover > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #widget-overflow[nightlaunch-iconsize="large"] #ctraddon_stop-button:hover > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]):not([customizing="true"]) #PanelUI-contents > #ctraddon_stop-button:hover > .toolbarbutton-icon {
  -moz-image-region: rect(24px, 144px, 48px, 120px) !important;
}
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]):not([customizing="true"]) #nav-bar[nightlaunch-iconsize="large"] #ctraddon_stop-button[disabled="true"] > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]):not([customizing="true"]) #widget-overflow[nightlaunch-iconsize="large"] #ctraddon_stop-button[disabled="true"] > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]):not([customizing="true"]) #PanelUI-contents > #ctraddon_stop-button[disabled="true"] > .toolbarbutton-icon {
  -moz-image-region: rect(48px, 144px, 72px, 120px) !important;
}

#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #ctraddon_stop-button:-moz-locale-dir(rtl) > .toolbarbutton-icon {
  transform: scaleX(-1) !important;
}

/* ::::: PanelUI Toolbarbutton ::::: */

#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #nav-bar #ctraddon_panelui-button > #PanelUI-menu-button {
  /* His CSS sets margin-top and -bottom to zero, so we reassert our margins. */
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

/* ::::: CTR Options Toolbarbutton ::::: */

#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #ctraddon_ctr-button > .toolbarbutton-icon {
  /* His icon size is 18x18, and we have no replacement icon for this, so we need to rescale his. */
  height: 16px !important;
  width: 16px !important;
}

#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #nav-bar[nightlaunch-iconsize="large"] #ctraddon_ctr-button > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #widget-overflow[nightlaunch-iconsize="large"] #ctraddon_ctr-button > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]):not([customizing="true"]) #PanelUI-contents > #ctraddon_ctr-button > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #customization-panelHolder #ctraddon_ctr-button > .toolbarbutton-icon,
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #customization-palette #ctraddon_ctr-button > .toolbarbutton-icon {
  /* His icon source image size is different from ours, and we have no replacement icon
   * for this, so we need to rescale his.
   */
  height: 24px !important;
  width: 24px !important;
}

/* ::::: CTR Buttons at the Bottom of the Customization Palette ::::: */

#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #ctraddon_cuibuttonsbox {
  margin-top: -10px !important;
  background-color: #070707 !important;
  padding-bottom: 5px !important;
}

/* These are labels, intended to look like labels, but have class .customizationmode-button
 * and so receive button styling.  We remove button styling so they look like simple labels.
 */
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #ctraddon_cuibuttonsbox .ctraddon_cuibutlabel.customizationmode-button .button-box {
  background: none !important;
}

/* Reassert our standard toolkit button styling. There's more to do here. */
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #customization-palette-container #ctraddon_cuibuttonsbox[id] :-moz-any(#ctraddon_cui-icons-button, #ctraddon_cui-iconstext-button, #ctraddon_cui-textonly-button) {
  -moz-margin-start: 0 !important;
  -moz-margin-end: 0 !important;
  padding-left: 1px !important;
  border: 1px solid black !important;
  border-top: 2px solid black !important;
  -moz-border-top-colors: black #393939 !important;
  -moz-border-right-colors: none !important;
  -moz-border-bottom-colors: none !important;
  -moz-border-left-colors: none !important;
  background: url("chrome://global/skin/button/outer-gradient-bg.png") top left repeat-x #070707 !important;
}

/* ::::: CTR Appbutton Toolbarbutton ::::: */

#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #ctraddon_appbutton {
  /* TODO */
}

/* ::::: Identity Block with CTR ::::: */

/* He sets padding on #identity-box; we reassert ours.
 * His rule has selector:
 *
 *     #main-window:not([defaultfxtheme="true"]) #notification-popup-box[hidden] + * { ... }
 *
 * which has specificity 220, and we must exceed that.
 *
 */
#main-window:-moz-any([currenttheme="nightlaunchnext"], [currenttheme="nasanightlaunch"]) #urlbar-container > #urlbar-wrapper > #urlbar #identity-box {
  padding: 0 5px !important;
}



